
<main id="main">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">
                <kendo-icon name="dictionary-add" size="default"></kendo-icon>
                    Strategy, Record & Monitor</a></li>
            <li class="breadcrumb-item"><a href="">Strategize</a></li>
            <li class="breadcrumb-item"><a href="">Manage Email</a></li>
            <li class="breadcrumb-item active">Email Template Configuration</li>
        </ol>
    </nav>
    <section class="section">
        <div class="header-container">
            <h2 class="heading">Email Template Configuration</h2>
            <button kendoButton themeColor="info" (click)="setPageInfo()" iconClass="k-icon k-i-plus">Configure Email Template</button>
        </div>
        <kendo-grid [kendoGridBinding]="gridView" [pageable]="true" [pageSize]="pageSize" scrollable="none">
            <kendo-grid-column field="Sno" title="S.No"> </kendo-grid-column><kendo-grid-column field="EmailTemplateID"
                title="Email Template ID"> </kendo-grid-column>
            <kendo-grid-column field="EmailTemplateName" title="Email Template Name"> </kendo-grid-column>
            <kendo-grid-column field="CreatedOn" title="Created On"> </kendo-grid-column>
            <kendo-grid-column field="CreatedBy" title="Created By"> </kendo-grid-column>
            <kendo-grid-column field="Action" title="Action" [style]="{'text-align' : 'center'}" class="'center'">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button kendoButton iconClass="k-icon k-i-preview" size="small">View</button>
                    <button kendoButton iconClass="k-icon k-i-edit" size="small">Edit</button>
                    <button kendoButton iconClass="k-icon k-i-delete" size="small">Delete</button>
                </ng-template>
            </kendo-grid-column>
            <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                <kendo-pager-info></kendo-pager-info>
            </ng-template>
        </kendo-grid>
    </section>
</main>