<main id="main">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">
                    <kendo-icon name="dictionary-add" size="default"></kendo-icon>
                    Strategy, Record & Monitor</a></li>
            <li class="breadcrumb-item"><a href="">Strategize</a></li>
            <li class="breadcrumb-item"><a href="">Manage Email</a></li>
            <li class="breadcrumb-item active">Email Frequency Configuration</li>
        </ol>
    </nav>
    <section class="section">
        <div class="header-container border-bottom">
            <h2 class="heading">Email Frequency Configuration</h2>
        </div>
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Bucket No</th>
                    <th>Bucket Description</th>
                    <th>Select Email Template</th>
                    <th>Frequency</th>
                    <th colspan="3">Select to Day of Week/Month</th>
                </tr>
            </thead>
            <tr>
                <td>Bucket 1</td>
                <td>Very Low</td>
                <td>
                    <kendo-dropdownlist [data]="listItemsTemplate" [(ngModel)]="selectedTemplate">
                    </kendo-dropdownlist>
                </td>
                <td>
                    <kendo-dropdownlist [data]="listItemsMonthlyFreq" [(ngModel)]="selectedMonthlyFreq">
                    </kendo-dropdownlist>
                </td>
                <td>Please Select Month</td>
                <td>
                    <kendo-dropdownlist [data]="listItemsMonth2" [(ngModel)]="selectedMonth2">
                    </kendo-dropdownlist>
                </td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">Bucket 2</td>
                <td rowspan="2">Very Low</td>
                <td rowspan="2">
                    <kendo-dropdownlist [data]="listItemsTemplate" [(ngModel)]="selectedTemplate">
                    </kendo-dropdownlist>
                </td>
                <td rowspan="2">
                    <kendo-dropdownlist [data]="listItemsMonthlyFreq" [(ngModel)]="selectedMonthlyFreq">
                    </kendo-dropdownlist>
                </td>
                <td>Please Select of Month</td>
                <td rowspan="2">
                    <kendo-dropdownlist [data]="listItemsMonth2" [(ngModel)]="selectedMonth2">
                    </kendo-dropdownlist>
                </td>
                <td rowspan="2">
                    <kendo-dropdownlist [data]="listItemsMonth2" [(ngModel)]="selectedMonth2">
                    </kendo-dropdownlist>
                </td>
            </tr>
            <tr>
                <td>Please Select of Week</td>
            </tr>
            <tr>
                <td>Bucket 3</td>
                <td>Very Low</td>
                <td>
                    <kendo-dropdownlist [data]="listItemsTemplate" [(ngModel)]="selectedTemplate">
                    </kendo-dropdownlist>
                </td>
                <td>
                    <kendo-dropdownlist [data]="listItemsMonthlyFreq" [(ngModel)]="selectedMonthlyFreq">
                    </kendo-dropdownlist>
                </td>
                <td>Please Select Month</td>
                <td>
                    <kendo-dropdownlist [data]="listItemsMonth2" [(ngModel)]="selectedMonth2">
                    </kendo-dropdownlist>
                </td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">Bucket 4</td>
                <td rowspan="2">Very Low</td>
                <td rowspan="2">
                    <kendo-dropdownlist [data]="listItemsTemplate" [(ngModel)]="selectedTemplate">
                    </kendo-dropdownlist>
                </td>
                <td rowspan="2">
                    <kendo-dropdownlist [data]="listItemsMonthlyFreq" [(ngModel)]="selectedMonthlyFreq">
                    </kendo-dropdownlist>
                </td>
                <td>Please Select of Month</td>
                <td rowspan="2">
                    <kendo-dropdownlist [data]="listItemsMonth2" [(ngModel)]="selectedMonth2">
                    </kendo-dropdownlist>
                </td>
                <td rowspan="2">
                    <kendo-dropdownlist [data]="listItemsMonth2" [(ngModel)]="selectedMonth2">
                    </kendo-dropdownlist>
                </td>
            </tr>
            <tr>
                <td>Please Select of Week</td>
            </tr>

        </table>
        <button class="primary-btn margin-left-auto" kendoButton themeColor="info" (click)="open()">Confirm
            Changes</button>
    </section>
</main>

<kendo-dialog *ngIf="opened" (close)="close()">
    <kendo-dialog-titlebar></kendo-dialog-titlebar>
    <p>Email Frequency Configuration has updated successfully </p>
    <button class="kendo-btn-border" kendoButton themeColor="info" (click)="close()">OK</button>
</kendo-dialog>