<main id="main">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">
                    <kendo-icon name="gear" size="default"></kendo-icon>
                    User Management</a></li>
            <li class="breadcrumb-item"><a href="">Group Details</a></li>
            <li class="breadcrumb-item active">Create Group</li>
        </ol>
    </nav>
    <section class="section base-details">
        <div class="header-container border-bottom">
            <h2 class="heading ">Basic Details</h2>
        </div>
        <ng-container *ngIf="viewInfo === ''">
            <div class="input-basic-item create-basic">
                <kendo-label class="k-form" text="Group Name">
                    <kendo-textbox [style.width.px]="300" [(ngModel)]="groupName" placeholder="" [clearButton]="true">
                    </kendo-textbox>
                </kendo-label>
                <kendo-label class="k-form" text="Group Description">
                    <kendo-textarea [cols]="50" [(ngModel)]="groupDesc" style="width: auto;">
                    </kendo-textarea>
                </kendo-label>
                <kendo-label class="k-form" text="Assign Module">
                    <kendo-dropdownlist [data]="listItemsModule"
                    [(ngModel)]="selectedModule" >
                    </kendo-dropdownlist>
                </kendo-label>
                <kendo-label class="k-form" text="Assign Role">
                    <kendo-dropdownlist [data]="listItemsRole"
                    [(ngModel)]="selectedRole">
                    </kendo-dropdownlist>
                </kendo-label>
            </div>
            <button class="primary-btn margin-left-auto" kendoButton themeColor="info" (click)="setViewInfo('assignPrivilege')"
                iconClass="k-icon k-i-file-add">Assign Privilege</button>
        </ng-container>
        <ng-container *ngIf="viewInfo === 'assignPrivilege'" >
            <ul class="detail-list">
                <li>
                    <label> Group Name</label>
                    <p>{{groupName}}</p>
                </li>
                <li>
                    <label> Group Description</label>
                    <p>{{groupDesc}}</p>
                </li>
                <li>
                    <label> Assign Module</label>
                    <p>{{selectedModule}}</p>
                </li>
                <li>
                    <label> Assign Role</label>
                    <p>{{selectedRole}}</p>
                </li>
               
            </ul>
        </ng-container>
    </section>
    <section class="section" *ngIf="viewInfo === 'assignPrivilege'">
        <div class="header-container border-bottom">
            <h2 class="heading">Assign Privilege</h2>
        </div>
        <kendo-grid [kendoGridBinding]="gridView" scrollable="none" class="border">
            <kendo-grid-column field="Srno" title="Sr.No"></kendo-grid-column>
            <kendo-grid-column field="Menu" title="Menu List"></kendo-grid-column>
            <kendo-grid-column [style]="{'text-align':'center'}"  field="EWS" title="EWS">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <input type="checkbox" #No kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="No" text="No"></kendo-label>
                    <input type="checkbox" #Read kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="Read" text="Read"></kendo-label>
                    <input type="checkbox" #Write kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="Write" text="Write"></kendo-label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [style]="{'text-align':'center'}"  field="OTMS" title="OTMS">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <input type="checkbox" #No kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="No" text="No"></kendo-label>
                    <input type="checkbox" #Read kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="Read" text="Read"></kendo-label>
                    <input type="checkbox" #Write kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="Write" text="Write"></kendo-label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column  [style]="{'text-align':'center'}" field="NRTMS" title="NRTMS">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <input type="checkbox" #No kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="No" text="No"></kendo-label>
                    <input type="checkbox" #Read kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="Read" text="Read"></kendo-label>
                    <input type="checkbox" #Write kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="Write" text="Write"></kendo-label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column  [style]="{'text-align':'center'}" field="Others" title="Others">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <input type="checkbox" #No kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="No" text="No"></kendo-label>
                    <input type="checkbox" #Read kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="Read" text="Read"></kendo-label>
                    <input type="checkbox" #Write kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="Write" text="Write"></kendo-label>
                </ng-template></kendo-grid-column>
            <kendo-grid-column [style]="{'text-align':'center'}" field="LandingPage" title="Landing Page">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <input type="checkbox" #No kendoCheckBox />
                    <kendo-label class="k-checkbox-label" [for]="No"></kendo-label>
                </ng-template></kendo-grid-column>
        </kendo-grid>
        <button class="primary-btn margin-left-auto"  kendoButton themeColor="info" (click)="open()"
            iconClass="k-icon k-i-check-circle">Confirm & Create Group</button>
    </section>
</main>

<kendo-dialog *ngIf="opened" (close)="close()">
    <kendo-dialog-titlebar></kendo-dialog-titlebar>
    <div>
        <p>Group ID : 1006 & Group Name : Branch-Others Module-Checker has been crated successfully</p>
        <button class="kendo-btn-border" kendoButton themeColor="info" (click)="close()">OK</button>
    </div>
</kendo-dialog>