*, ::after, ::before {
  box-sizing: border-box;
}
ol,
ul,
dl {
  margin: 0;
  padding:0;
  list-style: none;
}
a {
  color: transparent;
  text-decoration: none;
}
button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

body{
  background: #EFEFF2;
}
.margin-left-auto {
  margin-left: auto;
  display: inline-block;
}

.primary-btn {
  background-color: #1874ce;
  font-size: 12px;
  font-family: var(--font);
  color: #ffffff;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  .bi {
    font-size: 18px;
    padding-right: 4px
  }
}
.header {
  transition: all 0.5s;  
  z-index: 997;
  height: 48px;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
  background:#244A8B;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  background: #fff;
  width: 10%;
  position:relative;
}
.logo img {
  height: 30px;
}
.logo::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -28px;
  display: block;
  width: 55px;
  background:#fff;
  transform: skew(20deg);
}
.box-skew {
  background: #3B73CD;
  width: 20%;
  margin-left: 40px;
  position: relative;
}
.box-skew::before{
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -28px;
  display: block;
  width: 55px;
  background:#3B73CD;
  transform: skew(20deg);
}
.k-switch-on .k-switch-track {
  border-color: #3B73CD;
  color: white;
  background-color: #3B73CD;
}
.box-skew::after{
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -28px;
  display: block;
  width: 55px;
  background:#3B73CD;
  transform: skew(20deg);
}
.header-nav {
    margin-left: auto;    
  .nav-items{
    display: flex;
    align-items: center;
    height: 48px;
    margin-right: 15px; 
    li{
      margin-left: 15px;  
      button{
        cursor: pointer;
        color: #fff;
      }      
    }
  }
  .bi {
    color: #fff;
    font-size: 18px;
  }
  .nav-profile {
    border-left: 1px solid #fff;
    padding-left: 15px;
    display: flex;
    align-items: center;
    img {
      max-height: 25px;
      border-radius: 50%;
    }
    span {
      font-size: 14px;
      padding-left: 8px;
      color: #fff;
      align-items: center;
      display: none;
      &::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
    }
  }
}
.sidebar {
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 0;
  width: 60px;
  z-index: 996;
  transition: all 0.3s;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
  background-color: #fff;
  display: none;
  
}
.sidebar-nav {
  margin: 0;
  padding: 0; 
  li {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    border-left: 5px solid transparent;
    cursor: pointer;
    &:hover,&.active {
      background:#3D77D7; 
      border-left: 5px solid #244A8B;
      color: #fff;
    }
    .bi,.k-icon {
      font-size: 25px;
      margin-left: -5px;
    }
    &:hover .bi,&.active .bi{
      color: #fff;      
    }
    &:hover .k-icon,&.active k-icon {
      color: #fff;    
    }
  }
}

#main {
  margin-top: 48px;
  padding: 20px;
  transition: all 0.3s;
  font-family: var(--font);
  font-size: var(--fs-12);
  background: #EFEFF1;
  height: 600px;
}

.breadcrumb {
  font-size: 14px;
  display: flex;
  color:#000;
  margin-bottom: 20px;
 .breadcrumb-item {
    display: flex;
    align-items: center;
    a{
      color:#000;
      text-decoration: none;
    }
  }
  &+.breadcrumb-item::before {
    float: left;
    content: ">" !important;
    padding: 0 5px;
    font-size: 12px;
  }
}

.breadcrumb-item+.breadcrumb-item::before{
  content: ">" !important;
}

.section {
  background-color: #fff;
  border-radius: 2px;
  padding: 15px 15px 80px 25px;
  margin-bottom: 10px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.heading {
  font-size: 14px;
  font-weight: bold;
  font-family: var(--font-bold);
}
.border-bottom {
  border-radius: 1px solid #f5f5f5;
}
@media (min-width: 1200px) {
.logo img {
    height: 40px;
}
.header-nav {
  .nav-items li {
      margin-left: 25px;
  }
  .nav-profile {
    margin-left: 20px;
    span {
      display: flex;
    }
  }
}
#main {
    margin-left: 60px;
}
.sidebar {
  display: block;
}

}

.k-grid {
  margin-bottom: 20px;
  &.border {
    border-left:1px solid #dee2e6 !important;
    border-right:1px solid #dee2e6 !important;
    .k-grid-header .k-table-th {
      border-left: 1px solid #dee2e6;
    }
    td {
      border-color: #dee2e6;
      font-size: 12px;
      border-width: 1px 0 0 1px;
    }
  }
  border: none;
  border-left:1px solid #fafafa;
  border-right:1px solid #fafafa;
  .k-cell-inner {
    justify-content: center;
  }
  .k-grid-header .k-table-th {
    border: none;
    border-top: transparent;
    border-left: 2px solid #fff;
    font-size: 12px;
    font-weight: bold;
    .k-button {
      font-size: 12px;
    }
    .k-table-th:first-child {
      border-left: 2px solid transparent;
    }
  }
  td, .k-table-td {
    border-color: transparent;
    font-size: 12px;
  }
  td:first-child, .k-table-td:first-child {
    text-align: center;
  }
}
.k-pager {
  border: none;
  border-top: 5px solid #fff;
}
.k-pager-numbers {
  background: #3D77D7;
  color: #fff;
}

.k-checkbox:checked, .k-checkbox.k-checked {
    border-color: #3D77D7;
    color: white;
    background-color: #3D77D7;
}

.center{
  text-align: center;
}
.main-nav {
  display: flex;
  li {
    font-size: 16px;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: underline;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .input-section {
    display: flex;
    width: 75%;
    .input-item {
      width: 250px;
      input{
        width: 200px;
      }
    }
    .template-item {
      margin-left: 50px;
    }
  }
  .formate {
    width: 175px !important;
  }
  .primary-btn {
    width: 100px;
    place-self: flex-end;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.admin-table {
  width: 100%;
  margin-bottom: 20px;
  th {
    background-color: #fafafa;
    font-size: 13px;
    font-weight: bold;
  }
  th,td {
    padding: 8px 12px;
    border: 1px solid #f1f1f1;
  }
  td {
    font-size: 12px;
    select {
        border-color: rgba(0, 0, 0, 0.08);
        color: #424242;
        background-color: #f5f5f5;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
        width: 125px;
        padding: 4px 8px;
    }
  }
}

.k-dialog-titlebar {
  border-color: transparent;
  background-color: transparent;
}

.k-window-content {
  text-align: center;
  padding: 0;
  font-size: 13px;
  margin: 20px 25px;
  button {
    border-radius: 14px;
    background: #1976d2;
    color: #fff;
    width: 100px;
    height: 30px;
  }
}

.create-basic {
   justify-content: space-between ;
   margin: 0 0 20px;
   .k-picker-solid {
    width: 200px;
   
   }
}
.base-details {
  padding: 15px;
  .detail-list{
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0;
    li {
      font-size: 14px;
      label {
        font-weight: bold;
      }
      p {
        margin: 10px 0 0 10px;
      }
    }
  }
}
.work-flow {
  display: flex;
  position: relative;
  width: 600px;
  padding: 0;
  margin: auto;
  justify-content: space-between;
  &::before {
    content: "";
    top: 15px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0058e9;
  }
  li {
    background: #fff;
    border-radius: 15px;
    height: 30px;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    display: flex;
    align-items: center;
    padding: 0 10px;
    z-index: 1;
    color: #000;
    font-size: 12px;
    &.active {
      font-weight: bold;
    }
  }
}

.k-rounded-md {
  border-radius: 0px !important;
}

.kendo-btn-border{
  border-radius: 25px !important;
}

.k-button-solid-info{
  border-color: #1874ce;
  color: white;
  background-color: #1874ce;
}