<header class="header">
  <a class="logo" href="/"></a>
  <div class="box-skew"></div>
  <nav class="header-nav">
    <ul class="nav-items">
      <li>
        <button><i class="bi bi-person-fill"></i></button>
      </li>
      <li>
        <button><i class="bi bi-file-earmark"></i></button>
      </li>
      <li>
        <button><i class="bi bi-search"></i></button>
      </li>
      <li>
        <button><i class="bi bi-envelope"></i></button>
      </li>
      <li>
        <button><i class="bi bi-gear"></i></button>
      </li>
      <li class="nav-profile">
        <img src="./assets/images/profile-img.jpg">
        <span>Admin</span>
      </li>
    </ul>
  </nav>
</header>
<aside class="sidebar ">
  <ul class="sidebar-nav ">
    <li [ngClass]="{'active': navLinkInfo === ''}" (click)="updateNavLink('')">
      <kendo-icon name="template-manager" size="xlarge"></kendo-icon>
    </li>
    <li class="">
      <kendo-icon name="track-changes-enable" size="xlarge"></kendo-icon>
    </li>
    <li  [ngClass]="{'active': navLinkInfo !== ''}">
      <kendo-icon name="dictionary-add" size="xlarge"></kendo-icon>
    </li>
    <li class="">
      <kendo-icon name="file-txt" size="xlarge"></kendo-icon>
    </li>
  </ul>
</aside>
<ng-container *ngIf="navLinkInfo === ''">
  <main id="main">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
      </ol>
    </nav>
    <section class="section">
      <div class="header-container">
        <h2 class="heading">Nav Links</h2>
      </div>
      <div>
        <ul>
          <li (click)="updateNavLink('emailTemplateConfig')"><a>Email Template Configuration</a></li>
          <li (click)="updateNavLink('emailFrequencyConfig')"><a>Email Frequency Configuration</a></li>
        </ul>
      </div>
    </section>
  </main>
</ng-container>
<ng-container *ngIf="navLinkInfo === 'emailTemplateConfig'">
  <app-email-template-config></app-email-template-config>
</ng-container>
<ng-container *ngIf="navLinkInfo === 'emailFrequencyConfig'">
  <app-email-frequency-config></app-email-frequency-config>
</ng-container>