<header class="header">
  <a class="logo" href="/"></a>
  <div class="box-skew"></div>
  <nav class="header-nav">
    <ul class="nav-items">
      <li (click)="updateNavLink('')">
        <button><kendo-icon name="home" size="medium"></kendo-icon></button>
      </li>
      <li>
        <button><kendo-icon name="user" size="medium"></kendo-icon></button>
      </li>
      <li>
        <button><kendo-icon name="file" size="medium"></kendo-icon></button>
      </li>
      <li>
        <button><kendo-icon name="zoom" size="medium"></kendo-icon></button>
      </li>
      <li>
        <button><kendo-icon name="email" size="medium"></kendo-icon></button>
      </li>
      <li>
        <button><kendo-icon name="gear" size="medium"></kendo-icon></button>
      </li>
      <li class="nav-profile">
        <img src="./assets/images/profile-img.jpg">
        <span>Admin</span>
      </li>
    </ul>
  </nav>
</header>
<aside class="sidebar ">
  <ul class="sidebar-nav ">
    <li>
      <kendo-icon name="template-manager" size="xlarge"></kendo-icon>
    </li>
    <li class="">
      <kendo-icon name="track-changes-enable" size="xlarge"></kendo-icon>
    </li>
    <li
      [ngClass]="{'active': rtservice.pageInfo !== '' && rtservice.pageInfo !== 'createGroup' && rtservice.pageInfo !== 'alertConfig'}">
      <kendo-icon name="dictionary-add" size="xlarge"></kendo-icon>
    </li>
    <li class="">
      <kendo-icon name="file-txt" size="xlarge"></kendo-icon>
    </li>
  </ul>
</aside>
<ng-container *ngIf="rtservice.pageInfo === ''">
  <main id="main">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
      </ol>
    </nav>
    <section class="section">
      <div class="header-container">
        <h2 class="heading">Nav Links</h2>
      </div>
      <div>
        <ul class="main-nav">
          <li (click)="updateNavLink('emailTemplateConfig')"><a>Email Template Configuration</a></li>
          <li (click)="updateNavLink('emailFrequencyConfig')"><a>Email Frequency Configuration</a></li>
          <li (click)="updateNavLink('createGroup')"><a>Create Group</a></li>
          <li (click)="updateNavLink('alertConfig')"><a>Alert Configuration</a></li>
        </ul>
      </div>
    </section>
  </main>
</ng-container>
<ng-container *ngIf="rtservice.pageInfo === 'emailTemplateConfig'">
  <app-email-template-config></app-email-template-config>
</ng-container>
<ng-container *ngIf="rtservice.pageInfo === 'emailFrequencyConfig'">
  <app-email-frequency-config></app-email-frequency-config>
</ng-container>
<ng-container *ngIf="rtservice.pageInfo === 'editemailFrequencyConfig'">
  <app-edit-email-frequency-config></app-edit-email-frequency-config>
</ng-container>
<ng-container *ngIf="rtservice.pageInfo === 'createemailTemplateConfig'">
  <app-create-email-template-config></app-create-email-template-config>
</ng-container>
<ng-container *ngIf="rtservice.pageInfo === 'createGroup'">
  <app-create-group></app-create-group>
</ng-container>
<ng-container *ngIf="rtservice.pageInfo === 'alertConfig'">
  <app-alert-configuration></app-alert-configuration>
</ng-container>